.item1-bg {
    background-image: linear-gradient(
        rgba(0, 0.8, 0.5, 0.5),
        rgba(0, 0.7, 0.5, 0.5)
      ),
      url("../assets/Average Weight Of A Car.webp");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item2-bg {
    background-image: linear-gradient(
        rgba(0, 0.8, 0.5, 0.5),
        rgba(0, 0.7, 0.5, 0.5)
      ),
      url("../assets/images (21).jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item3-bg {
    background-image: linear-gradient(
        rgba(0, 0.8, 0.5, 0.5),
        rgba(0, 0.7, 0.5, 0.5)
      ),
      url("../assets/images (22).jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
  }